@model AcademyGrandPrix.Web.ViewModels.Tracks.PageableTracksListViewModel

@{
    ViewBag.Title = "List";
}

@foreach (var track in Model.Tracks)
{
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">@track.Name</h3>
                <h3>@track.Length</h3>
                <h3>@track.Difficulty</h3>
                <h3>@track.Rating</h3>
            </div>
            <div class="card-action">
                <a class="btn btn-default" href="#">Details</a>
            </div>
        </div>
    </div>
}
<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="/Tracks/List/@(Model.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i < Model.TotalPages; i++)
        {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="/Tracks/List/@i">@i</a></li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a href="/Tracks/List/@(Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>