@using AcademyGrandPrix.Web.ViewModels.Shared;

@model AcademyGrandPrix.Web.ViewModels.Tracks.PageableTracksListViewModel

@{
    ViewBag.Title = "List";
}

@foreach (var track in Model.Tracks)
{
    <div class="row">
        <div class="card">
            <div class="card-content">
                <div class="col-md-4">
                    <img src="@track.MapUrl" alt="Alternate Text" />
                </div>
                <div class="col-md-8">
                    <h3 class="card-title">Name: @track.Name</h3>
                    <h3>Length: @track.Length</h3>
                    <h3>Difficulty: @track.Difficulty</h3>
                    <h3>Votes Count: @track.VotesCount</h3>
                    <h3>Rating: @track.Rating</h3>
                </div>
            </div>
            <div class="card-action">
                <a class="btn btn-default" href="/Tracks/Details/@track.Id">Details</a>
            </div>
        </div>
    </div>
}

@Html.Partial("_Pagination", new PaginationViewModel { CurrentPage = Model.CurrentPage, TotalPages = Model.TotalPages, Url = "/Tracks/List/" });